@import "tailwindcss";

@font-face {
  font-family: 'CurveRetro';
  src: url('./font/CurveRetro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'CanvaSans';
  src: url('./font/CanvaSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Genty';
  src: url('./font/GentyDemo-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Laries';
  src: url('./font/Laries-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'DMSans';
  src: url('./font/DMSans-Regular.ttf') format('truetype');
}
